.usersContainer {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 60%;
	width: 20%;
	margin-left: 40px;
	border-radius: 10px;
}

.activeUsersHeader {
	background: #A71930;
	color: white;
	margin-top: 0;
	text-align: center;
	padding: 5px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.downArrowIcon {
	display: none;
}

.names {
	font-family: 'Lobster', cursive;
	font-size: 22px;
	padding: 15px;
}

.activeUsersHeaderText {
	font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.usersContainer {
		width: 100%;
		height: auto;
		margin: 0px;
	}

	.activeUsersHeader {
		display: flex;
		flex-direction: row;
		justify-content: center;
		border-bottom: 4px solid white;
	}

	.activeUsersHeaderText {
		justify-self: center;
		margin-right: 1rem;
	}

	.downArrowIcon {
		display: block;
		align-self: center;
		margin-right: 1rem;
		height: 1.5rem;
		width: 1.5rem;
	}

	.innerNameBox {
		padding: 20px;
	}

	.nameBox {
		width: 100vw;
	}

	.names {
		position: absolute;
		background-color: white;
		width: 100%;
		height: 100%;
		animation-name: dropdown;
		animation-duration: 1s;
		background-color: #A71930;
		color: white;
		font-size: 23px;
		font-family: 'Lobster', cursive;
	}

	.hidden {
		display: none;
	}
}

@keyframes dropdown {
	0% {
		height: 0%;
		color: rgba(255, 255, 255, 0);
	}

	100% {
		height: 100%;
		color: rgb(255, 255, 255, 1);
	}
}